/* https://catppuccin.com/ */

:root {
  /* latte (light) */
  --ctp-latte-rosewater: 10.8 58.824% 66.667%;
  --ctp-latte-flamingo: 0 59.763% 66.863%;
  --ctp-latte-pink: 316.034 73.418% 69.02%;
  --ctp-latte-mauve: 266.044 85.047% 58.039%;
  --ctp-latte-red: 347.077 86.667% 44.118%;
  --ctp-latte-maroon: 354.783 76.303% 58.627%;
  --ctp-latte-peach: 21.975 99.184% 51.961%;
  --ctp-latte-yellow: 34.948 76.984% 49.412%;
  --ctp-latte-green: 109.231 57.635% 39.804%;
  --ctp-latte-teal: 183.231 73.864% 34.51%;
  --ctp-latte-sky: 197.067 96.567% 45.686%;
  --ctp-latte-sapphire: 188.859 69.953% 41.765%;
  --ctp-latte-blue: 219.907 91.489% 53.922%;
  --ctp-latte-lavender: 230.935 97.203% 71.961%;
  --ctp-latte-text: 233.793 16.022% 35.49%;
  --ctp-latte-subtext1: 233.333 12.796% 41.373%;
  --ctp-latte-subtext0: 232.8 10.373% 47.255%;
  --ctp-latte-overlay2: 232.174 9.623% 53.137%;
  --ctp-latte-overlay1: 231.429 10.048% 59.02%;
  --ctp-latte-overlay0: 228 11.236% 65.098%;
  --ctp-latte-surface2: 226.667 12.162% 70.98%;
  --ctp-latte-surface1: 225 13.559% 76.863%;
  --ctp-latte-surface0: 222.857 15.909% 82.745%;
  --ctp-latte-base: 220 23.077% 94.902%;
  --ctp-latte-mantle: 220 21.951% 91.961%;
  --ctp-latte-crust: 220 20.69% 88.627%;
  /* frappe (dark) */
  --ctp-frappe-rosewater: 10.286 57.377% 88.039%;
  --ctp-frappe-flamingo: 0 58.537% 83.922%;
  --ctp-frappe-pink: 316 73.171% 83.922%;
  --ctp-frappe-mauve: 276.667 59.016% 76.078%;
  --ctp-frappe-red: 358.812 67.785% 70.784%;
  --ctp-frappe-maroon: 357.778 65.854% 75.882%;
  --ctp-frappe-peach: 20.331 79.085% 70%;
  --ctp-frappe-yellow: 39.529 62.044% 73.137%;
  --ctp-frappe-green: 95.833 43.902% 67.843%;
  --ctp-frappe-teal: 171.549 39.227% 64.51%;
  --ctp-frappe-sky: 189.091 47.826% 72.941%;
  --ctp-frappe-sapphire: 198.621 55.414% 69.216%;
  --ctp-frappe-blue: 221.633 74.242% 74.118%;
  --ctp-frappe-lavender: 238.909 66.265% 83.725%;
  --ctp-frappe-text: 227.234 70.149% 86.863%;
  --ctp-frappe-subtext1: 226.667 43.689% 79.804%;
  --ctp-frappe-subtext0: 228.293 29.496% 72.745%;
  --ctp-frappe-overlay2: 227.692 22.286% 65.686%;
  --ctp-frappe-overlay1: 226.667 16.981% 58.431%;
  --ctp-frappe-overlay0: 229.091 13.36% 51.569%;
  --ctp-frappe-surface2: 228 13.274% 44.314%;
  --ctp-frappe-surface1: 227.143 14.737% 37.255%;
  --ctp-frappe-surface0: 230 15.584% 30.196%;
  --ctp-frappe-base: 229.091 18.644% 23.137%;
  --ctp-frappe-mantle: 230.526 18.812% 19.804%;
  --ctp-frappe-crust: 229.412 19.54% 17.059%;

  /* macchiato (dark) */
  --ctp-macchiato-rosewater: 10 57.692% 89.804%;
  --ctp-macchiato-flamingo: 0 58.333% 85.882%;
  --ctp-macchiato-pink: 316.071 73.684% 85.098%;
  --ctp-macchiato-mauve: 266.512 82.692% 79.608%;
  --ctp-macchiato-red: 351.176 73.913% 72.941%;
  --ctp-macchiato-maroon: 355.059 71.429% 76.667%;
  --ctp-macchiato-peach: 21.356 85.507% 72.941%;
  --ctp-macchiato-yellow: 40.253 69.912% 77.843%;
  --ctp-macchiato-green: 105.217 48.252% 71.961%;
  --ctp-macchiato-teal: 171.081 46.835% 69.02%;
  --ctp-macchiato-sky: 188.78 59.42% 72.941%;
  --ctp-macchiato-sapphire: 198.641 65.605% 69.216%;
  --ctp-macchiato-blue: 220.189 82.813% 74.902%;
  --ctp-macchiato-lavender: 234.462 82.278% 84.51%;
  --ctp-macchiato-text: 227.442 68.254% 87.647%;
  --ctp-macchiato-subtext1: 228 39.216% 80%;
  --ctp-macchiato-subtext0: 227.368 26.761% 72.157%;
  --ctp-macchiato-overlay2: 228.333 20% 64.706%;
  --ctp-macchiato-overlay1: 227.647 15.455% 56.863%;
  --ctp-macchiato-overlay0: 230.323 12.351% 49.216%;
  --ctp-macchiato-surface2: 229.655 13.744% 41.373%;
  --ctp-macchiato-surface1: 231.111 15.607% 33.922%;
  --ctp-macchiato-surface0: 230.4 18.797% 26.078%;
  --ctp-macchiato-base: 231.818 23.404% 18.431%;
  --ctp-macchiato-mantle: 233.333 23.077% 15.294%;
  --ctp-macchiato-crust: 235.714 22.581% 12.157%;
  /* mocha (dark) */
  --ctp-mocha-rosewater: 9.6 55.556% 91.176%;
  --ctp-mocha-flamingo: 0 58.73% 87.647%;
  --ctp-mocha-pink: 316.471 71.831% 86.078%;
  --ctp-mocha-mauve: 267.407 83.505% 80.98%;
  --ctp-mocha-red: 343.269 81.25% 74.902%;
  --ctp-mocha-maroon: 350.4 65.217% 77.451%;
  --ctp-mocha-peach: 22.957 92% 75.49%;
  --ctp-mocha-yellow: 41.351 86.047% 83.137%;
  --ctp-mocha-green: 115.455 54.098% 76.078%;
  --ctp-mocha-teal: 170 57.353% 73.333%;
  --ctp-mocha-sky: 189.184 71.014% 72.941%;
  --ctp-mocha-sapphire: 198.5 75.949% 69.02%;
  --ctp-mocha-blue: 217.168 91.87% 75.882%;
  --ctp-mocha-lavender: 231.892 97.368% 85.098%;
  --ctp-mocha-text: 226.154 63.934% 88.039%;
  --ctp-mocha-subtext1: 226.667 35.294% 80%;
  --ctp-mocha-subtext0: 227.647 23.611% 71.765%;
  --ctp-mocha-overlay2: 228.387 16.757% 63.725%;
  --ctp-mocha-overlay1: 229.655 12.775% 55.49%;
  --ctp-mocha-overlay0: 230.769 10.744% 47.451%;
  --ctp-mocha-surface2: 232.5 12% 39.216%;
  --ctp-mocha-surface1: 234.286 13.208% 31.176%;
  --ctp-mocha-surface0: 236.842 16.239% 22.941%;
  --ctp-mocha-base: 240 21.053% 14.902%;
  --ctp-mocha-mantle: 240 21.311% 11.961%;
  --ctp-mocha-crust: 240 22.727% 8.627%;
}

