/* https://m2.material.io/design/color/ */

:root {
    --md-red-50: 0 100% 97%;
    --md-red-100: 0 100% 90%;
    --md-red-200: 0 80% 75%;
    --md-red-300: 0 70% 65%;
    --md-red-400: 0 78% 59%;
    --md-red-500: 0 87% 57%;
    --md-red-600: 0 81% 53%;
    --md-red-700: 0 74% 47%;
    --md-red-800: 0 74% 39%;
    --md-red-900: 0 75% 36%;
    --md-red-a100: 0 100% 73%;
    --md-red-a200: 0 100% 63%;
    --md-red-a400: 0 100% 53%;
    --md-red-a700: 0 100% 42%;

    --md-pink-50: 350 100% 97%;
    --md-pink-100: 340 100% 90%;
    --md-pink-200: 340 80% 74%;
    --md-pink-300: 340 85% 65%;
    --md-pink-400: 340 75% 57%;
    --md-pink-500: 340 80% 46%;
    --md-pink-600: 340 75% 42%;
    --md-pink-700: 340 77% 38%;
    --md-pink-800: 340 76% 37%;
    --md-pink-900: 340 73% 31%;
    --md-pink-a100: 340 100% 73%;
    --md-pink-a200: 340 100% 63%;
    --md-pink-a400: 340 100% 48%;
    --md-pink-a700: 340 82% 43%;

    --md-purple-50: 300 50% 96%;
    --md-purple-100: 300 39% 88%;
    --md-purple-200: 300 35% 76%;
    --md-purple-300: 300 39% 66%;
    --md-purple-400: 300 35% 56%;
    --md-purple-500: 300 54% 46%;
    --md-purple-600: 300 57% 41%;
    --md-purple-700: 300 59% 39%;
    --md-purple-800: 300 60% 36%;
    --md-purple-900: 300 73% 31%;
    --md-purple-a100: 300 85% 74%;
    --md-purple-a200: 300 100% 56%;
    --md-purple-a400: 300 100% 42%;
    --md-purple-a700: 300 100% 33%;

    --md-deep-purple-50: 240 50% 96%;
    --md-deep-purple-100: 240 25% 88%;
    --md-deep-purple-200: 240 27% 76%;
    --md-deep-purple-300: 240 34% 66%;
    --md-deep-purple-400: 240 34% 56%;
    --md-deep-purple-500: 240 50% 47%;
    --md-deep-purple-600: 240 52% 41%;
    --md-deep-purple-700: 240 53% 37%;
    --md-deep-purple-800: 240 54% 34%;
    --md-deep-purple-900: 240 64% 31%;
    --md-deep-purple-a100: 240 100% 74%;
    --md-deep-purple-a200: 240 100% 56%;
    --md-deep-purple-a400: 240 100% 48%;
    --md-deep-purple-a700: 240 100% 45%;

    --md-indigo-50: 210 40% 96%;
    --md-indigo-100: 210 28% 88%;
    --md-indigo-200: 210 26% 74%;
    --md-indigo-300: 210 26% 65%;
    --md-indigo-400: 210 26% 55%;
    --md-indigo-500: 210 48% 45%;
    --md-indigo-600: 210 49% 42%;
    --md-indigo-700: 210 50% 37%;
    --md-indigo-800: 210 52% 34%;
    --md-indigo-900: 210 58% 29%;
    --md-indigo-a100: 210 100% 74%;
    --md-indigo-a200: 210 100% 54%;
    --md-indigo-a400: 210 100% 48%;
    --md-indigo-a700: 210 100% 43%;

    --md-blue-50: 210 100% 96%;
    --md-blue-100: 210 100% 90%;
    --md-blue-200: 210 100% 79%;
    --md-blue-300: 210 100% 70%;
    --md-blue-400: 210 100% 61%;
    --md-blue-500: 210 100% 48%;
    --md-blue-600: 210 100% 43%;
    --md-blue-700: 210 100% 41%;
    --md-blue-800: 210 100% 37%;
    --md-blue-900: 210 100% 30%;
    --md-blue-a100: 210 100% 73%;
    --md-blue-a200: 210 100% 54%;
    --md-blue-a400: 210 100% 45%;
    --md-blue-a700: 210 100% 43%;

    --md-light-blue-50: 200 100% 96%;
    --md-light-blue-100: 200 100% 90%;
    --md-light-blue-200: 200 100% 79%;
    --md-light-blue-300: 200 100% 70%;
    --md-light-blue-400: 200 100% 61%;
    --md-light-blue-500: 200 100% 48%;
    --md-light-blue-600: 200 100% 43%;
    --md-light-blue-700: 200 100% 41%;
    --md-light-blue-800: 200 100% 37%;
    --md-light-blue-900: 200 100% 30%;
    --md-light-blue-a100: 200 100% 73%;
    --md-light-blue-a200: 200 100% 54%;
    --md-light-blue-a400: 200 100% 45%;
    --md-light-blue-a700: 200 100% 43%;

    --md-cyan-50: 180 100% 96%;
    --md-cyan-100: 180 100% 90%;
    --md-cyan-200: 180 100% 79%;
    --md-cyan-300: 180 100% 70%;
    --md-cyan-400: 180 100% 61%;
    --md-cyan-500: 180 100% 48%;
    --md-cyan-600: 180 100% 43%;
    --md-cyan-700: 180 100% 41%;
    --md-cyan-800: 180 100% 37%;
    --md-cyan-900: 180 100% 31%;
    --md-cyan-a100: 180 100% 73%;
    --md-cyan-a200: 180 100% 54%;
    --md-cyan-a400: 180 100% 45%;
    --md-cyan-a700: 180 100% 43%;

    --md-teal-50: 180 100% 96%;
    --md-teal-100: 180 100% 90%;
    --md-teal-200: 180 100% 79%;
    --md-teal-300: 180 100% 70%;
    --md-teal-400: 180 100% 61%;
    --md-teal-500: 180 100% 48%;
    --md-teal-600: 180 100% 43%;
    --md-teal-700: 180 100% 41%;
    --md-teal-800: 180 100% 37%;
    --md-teal-900: 180 100% 30%;
    --md-teal-a100: 180 100% 73%;
    --md-teal-a200: 180 100% 54%;
    --md-teal-a400: 180 100% 45%;
    --md-teal-a700: 180 100% 43%;

    --md-green-50: 120 100% 96%;
    --md-green-100: 120 100% 90%;
    --md-green-200: 120 100% 79%;
    --md-green-300: 120 100% 70%;
    --md-green-400: 120 100% 61%;
    --md-green-500: 120 100% 48%;
    --md-green-600: 120 100% 43%;
    --md-green-700: 120 100% 41%;
    --md-green-800: 120 100% 37%;
    --md-green-900: 120 100% 30%;
    --md-green-a100: 120 100% 73%;
    --md-green-a200: 120 100% 54%;
    --md-green-a400: 120 100% 45%;
    --md-green-a700: 120 100% 43%;

    --md-light-green-50: 90 100% 96%;
    --md-light-green-100: 90 100% 90%;
    --md-light-green-200: 90 100% 79%;
    --md-light-green-300: 90 100% 70%;
    --md-light-green-400: 90 100% 61%;
    --md-light-green-500: 90 100% 48%;
    --md-light-green-600: 90 100% 43%;
    --md-light-green-700: 90 100% 41%;
    --md-light-green-800: 90 100% 37%;
    --md-light-green-900: 90 100% 30%;
    --md-light-green-a100: 90 100% 73%;
    --md-light-green-a200: 90 100% 54%;
    --md-light-green-a400: 90 100% 45%;
    --md-light-green-a700: 90 100% 43%;

    --md-lime-50: 60 100% 96%;
    --md-lime-100: 60 100% 90%;
    --md-lime-200: 60 100% 79%;
    --md-lime-300: 60 100% 70%;
    --md-lime-400: 60 100% 61%;
    --md-lime-500: 60 100% 48%;
    --md-lime-600: 60 100% 43%;
    --md-lime-700: 60 100% 41%;
    --md-lime-800: 60 100% 37%;
    --md-lime-900: 60 100% 30%;
    --md-lime-a100: 60 100% 73%;
    --md-lime-a200: 60 100% 54%;
    --md-lime-a400: 60 100% 45%;
    --md-lime-a700: 60 100% 43%;

    --md-yellow-50: 54 100% 96%;
    --md-yellow-100: 54 100% 90%;
    --md-yellow-200: 54 100% 79%;
    --md-yellow-300: 54 100% 70%;
    --md-yellow-400: 54 100% 61%;
    --md-yellow-500: 54 100% 48%;
    --md-yellow-600: 54 100% 43%;
    --md-yellow-700: 54 100% 41%;
    --md-yellow-800: 54 100% 37%;
    --md-yellow-900: 54 100% 30%;
    --md-yellow-a100: 54 100% 73%;
    --md-yellow-a200: 54 100% 54%;
    --md-yellow-a400: 54 100% 45%;
    --md-yellow-a700: 54 100% 43%;

    --md-amber-50: 54 100% 96%;
    --md-amber-100: 54 100% 90%;
    --md-amber-200: 54 100% 79%;
    --md-amber-300: 54 100% 70%;
    --md-amber-400: 54 100% 61%;
    --md-amber-500: 54 100% 48%;
    --md-amber-600: 54 100% 43%;
    --md-amber-700: 54 100% 41%;
    --md-amber-800: 54 100% 37%;
    --md-amber-900: 54 100% 30%;
    --md-amber-a100: 54 100% 73%;
    --md-amber-a200: 54 100% 54%;
    --md-amber-a400: 54 100% 45%;
    --md-amber-a700: 54 100% 43%;

    --md-orange-50: 54 100% 96%;
    --md-orange-100: 54 100% 90%;
    --md-orange-200: 54 100% 79%;
    --md-orange-300: 54 100% 70%;
    --md-orange-400: 54 100% 61%;
    --md-orange-500: 54 100% 48%;
    --md-orange-600: 54 100% 43%;
    --md-orange-700: 54 100% 41%;
    --md-orange-800: 54 100% 37%;
    --md-orange-900: 54 100% 30%;
    --md-orange-a100: 54 100% 73%;
    --md-orange-a200: 54 100% 54%;
    --md-orange-a400: 54 100% 45%;
    --md-orange-a700: 54 100% 43%;

    --md-deep-orange-50: 6 100% 96%;
    --md-deep-orange-100: 6 100% 90%;
    --md-deep-orange-200: 6 100% 79%;
    --md-deep-orange-300: 6 100% 70%;
    --md-deep-orange-400: 6 100% 61%;
    --md-deep-orange-500: 6 100% 48%;
    --md-deep-orange-600: 6 100% 43%;
    --md-deep-orange-700: 6 100% 41%;
    --md-deep-orange-800: 6 100% 37%;
    --md-deep-orange-900: 6 100% 30%;
    --md-deep-orange-a100: 6 100% 73%;
    --md-deep-orange-a200: 6 100% 54%;
    --md-deep-orange-a400: 6 100% 45%;
    --md-deep-orange-a700: 6 100% 43%;

    --md-brown-50: 0 0% 94%;
    --md-brown-100: 0 0% 84%;
    --md-brown-200: 0 0% 76%;
    --md-brown-300: 0 0% 65%;
    --md-brown-400: 0 0% 55%;
    --md-brown-500: 0 0% 41%;
    --md-brown-600: 0 0% 37%;
    --md-brown-700: 0 0% 30%;
    --md-brown-800: 0 0% 24%;
    --md-brown-900: 0 0% 20%;

    --md-grey-50: 0 0% 98%;
    --md-grey-100: 0 0% 96%;
    --md-grey-200: 0 0% 93%;
    --md-grey-300: 0 0% 88%;
    --md-grey-400: 0 0% 74%;
    --md-grey-500: 0 0% 62%;
    --md-grey-600: 0 0% 46%;
    --md-grey-700: 0 0% 38%;
    --md-grey-800: 0 0% 26%;
    --md-grey-900: 0 0% 13%;

    --md-blue-grey-50: 210 16% 94%;
    --md-blue-grey-100: 210 8% 73%;
    --md-blue-grey-200: 210 8% 64%;
    --md-blue-grey-300: 210 8% 57%;
    --md-blue-grey-400: 210 8% 46%;
    --md-blue-grey-500: 210 8% 37%;
    --md-blue-grey-600: 210 8% 27%;
    --md-blue-grey-700: 210 8% 19%;
    --md-blue-grey-800: 210 8% 14%;
    --md-blue-grey-900: 210 16% 8%;
}

:root {
    --md-grey-light: 0 0% 83%;
    --md-grey-dark: 0 0% 66%;
    --md-black: 0 0% 0%;
    --md-white: 0 0% 100%;

    --md-pastel-pink: 350 100% 88%;
    --md-pastel-blue: 195 52% 81%;
    --md-pastel-green: 175 57% 81%;
    --md-pastel-yellow: 48 100% 85%;

    --md-muted-red: 0 28% 73%;
    --md-muted-blue: 210 25% 77%;
    --md-muted-green: 130 28% 73%;
}

:root {
    --md-bootstrap-primary: 210 100% 50%;
    --md-bootstrap-secondary: 210 13% 47%;

    /* Material Colors */
    --md-primary: 240 100% 46%;
    --md-accent: 340 100% 63%;

    /* Tailwind Colors */
    --md-tailwind-blue: 210 90% 60%;
    --md-tailwind-green: 167 88% 40%;
}
