/* https://www.nordtheme.com/ */

:root {
  --nord0: 210 20% 20%;
  --nord1: 210 12% 26%;
  --nord2: 210 14% 34%;
  --nord3: 210 13% 40%;
  --nord4: 210 36% 91%;
  --nord5: 210 25% 94%;
  --nord6: 210 21% 96%;
  --nord7: 180 30% 62%;
  --nord8: 192 40% 66%;
  --nord9: 210 28% 58%;
  --nord10: 210 35% 53%;
  --nord11: 358 60% 53%;
  --nord12: 25 50% 66%;
  --nord13: 45 81% 70%;
  --nord14: 104 30% 65%;
  --nord15: 322 28% 64%;
}
