/* https://rosepinetheme.com/ */

:root {
  /* base (dark) */
  --rp-base: 249 22% 12%;
  --rp-surface: 247 23% 15%;
  --rp-overlay: 248 25% 18%;
  --rp-muted: 249 12% 47%;
  --rp-subtle: 248 15% 61%;
  --rp-text: 245 50% 91%;
  --rp-love: 343 76% 68%;
  --rp-gold: 35 88% 72%;
  --rp-rose: 2 55% 83%;
  --rp-pine: 197 49% 38%;
  --rp-foam: 189 43% 73%;
  --rp-iris: 267 57% 78%;
  --rp-highlight-low: 244 18% 15%;
  --rp-highlight-med: 249 15% 28%;
  --rp-highlight-high: 248 13% 36%;
  /* moon (dark) */
  --rp-moon-base: 246 24% 17%;
  --rp-moon-surface: 248 24% 20%;
  --rp-moon-overlay: 248 21% 26%;
  --rp-moon-muted: 249 12% 47%;
  --rp-moon-subtle: 248 15% 61%;
  --rp-moon-text: 245 50% 91%;
  --rp-moon-love: 343 76% 68%;
  --rp-moon-gold: 35 88% 72%;
  --rp-moon-rose: 2 66% 75%;
  --rp-moon-pine: 197 48% 47%;
  --rp-moon-foam: 189 43% 73%;
  --rp-moon-iris: 267 57% 78%;
  --rp-moon-highlight-low: 245 22% 20%;
  --rp-moon-highlight-med: 247 16% 30%;
  --rp-moon-highlight-high: 249 15% 38%;
  /* dawn (light) */
  --rp-dawn-base: 32 57% 95%;
  --rp-dawn-surface: 35 100% 98%;
  --rp-dawn-overlay: 33 43% 91%;
  --rp-dawn-muted: 257 9% 61%;
  --rp-dawn-subtle: 248 12% 52%;
  --rp-dawn-text: 248 19% 40%;
  --rp-dawn-love: 343 35% 55%;
  --rp-dawn-gold: 35 81% 56%;
  --rp-dawn-rose: 3 53% 67%;
  --rp-dawn-pine: 197 53% 34%;
  --rp-dawn-foam: 189 30% 48%;
  --rp-dawn-iris: 268 21% 57%;
  --rp-dawn-highlight-low: 25 35% 93%;
  --rp-dawn-highlight-med: 10 9% 86%;
  --rp-dawn-highlight-high: 280 6% 80%;
}
