/* https://rosepinetheme.com/ */

:root {
  --rp-base: #191724;
  --rp-base-rgb: 25 23 36;
  --rp-base-hsl: 249 22% 12%;
  --rp-surface: #1f1d2e;
  --rp-surface-rgb: 31 29 46;
  --rp-surface-hsl: 247 23% 15%;
  --rp-overlay: #26233a;
  --rp-overlay-rgb: 38 35 58;
  --rp-overlay-hsl: 248 25% 18%;
  --rp-muted: #6e6a86;
  --rp-muted-rgb: 110 106 134;
  --rp-muted-hsl: 249 12% 47%;
  --rp-subtle: #908caa;
  --rp-subtle-rgb: 144 140 170;
  --rp-subtle-hsl: 248 15% 61%;
  --rp-text: #e0def4;
  --rp-text-rgb: 224 222 244;
  --rp-text-hsl: 245 50% 91%;
  --rp-love: #eb6f92;
  --rp-love-rgb: 235 111 146;
  --rp-love-hsl: 343 76% 68%;
  --rp-gold: #f6c177;
  --rp-gold-rgb: 246 193 119;
  --rp-gold-hsl: 35 88% 72%;
  --rp-rose: #ebbcba;
  --rp-rose-rgb: 235 188 186;
  --rp-rose-hsl: 2 55% 83%;
  --rp-pine: #31748f;
  --rp-pine-rgb: 49 116 143;
  --rp-pine-hsl: 197 49% 38%;
  --rp-foam: #9ccfd8;
  --rp-foam-rgb: 156 207 216;
  --rp-foam-hsl: 189 43% 73%;
  --rp-iris: #c4a7e7;
  --rp-iris-rgb: 196 167 231;
  --rp-iris-hsl: 267 57% 78%;
  --rp-highlight-low: #21202e;
  --rp-highlight-low-rgb: 33 32 46;
  --rp-highlight-low-hsl: 244 18% 15%;
  --rp-highlight-med: #403d52;
  --rp-highlight-med-rgb: 64 61 82;
  --rp-highlight-med-hsl: 249 15% 28%;
  --rp-highlight-high: #524f67;
  --rp-highlight-high-rgb: 82 79 103;
  --rp-highlight-high-hsl: 248 13% 36%;
}

:root {
  --rp-moon-base: #232136;
  --rp-moon-base-rgb: 35 33 54;
  --rp-moon-base-hsl: 246 24% 17%;
  --rp-moon-surface: #2a273f;
  --rp-moon-surface-rgb: 42 39 63;
  --rp-moon-surface-hsl: 248 24% 20%;
  --rp-moon-overlay: #393552;
  --rp-moon-overlay-rgb: 57 53 82;
  --rp-moon-overlay-hsl: 248 21% 26%;
  --rp-moon-muted: #6e6a86;
  --rp-moon-muted-rgb: 110 106 134;
  --rp-moon-muted-hsl: 249 12% 47%;
  --rp-moon-subtle: #908caa;
  --rp-moon-subtle-rgb: 144 140 170;
  --rp-moon-subtle-hsl: 248 15% 61%;
  --rp-moon-text: #e0def4;
  --rp-moon-text-rgb: 224 222 244;
  --rp-moon-text-hsl: 245 50% 91%;
  --rp-moon-love: #eb6f92;
  --rp-moon-love-rgb: 235 111 146;
  --rp-moon-love-hsl: 343 76% 68%;
  --rp-moon-gold: #f6c177;
  --rp-moon-gold-rgb: 246 193 119;
  --rp-moon-gold-hsl: 35 88% 72%;
  --rp-moon-rose: #ea9a97;
  --rp-moon-rose-rgb: 234 154 151;
  --rp-moon-rose-hsl: 2 66% 75%;
  --rp-moon-pine: #3e8fb0;
  --rp-moon-pine-rgb: 62 143 176;
  --rp-moon-pine-hsl: 197 48% 47%;
  --rp-moon-foam: #9ccfd8;
  --rp-moon-foam-rgb: 156 207 216;
  --rp-moon-foam-hsl: 189 43% 73%;
  --rp-moon-iris: #c4a7e7;
  --rp-moon-iris-rgb: 196 167 231;
  --rp-moon-iris-hsl: 267 57% 78%;
  --rp-moon-highlight-low: #2a283e;
  --rp-moon-highlight-low-rgb: 42 40 62;
  --rp-moon-highlight-low-hsl: 245 22% 20%;
  --rp-moon-highlight-med: #44415a;
  --rp-moon-highlight-med-rgb: 68 65 90;
  --rp-moon-highlight-med-hsl: 247 16% 30%;
  --rp-moon-highlight-high: #56526e;
  --rp-moon-highlight-high-rgb: 86 82 110;
  --rp-moon-highlight-high-hsl: 249 15% 38%;
}

:root {
  --rp-dawn-base: #faf4ed;
  --rp-dawn-base-rgb: 250 244 237;
  --rp-dawn-base-hsl: 32 57% 95%;
  --rp-dawn-surface: #fffaf3;
  --rp-dawn-surface-rgb: 255 250 243;
  --rp-dawn-surface-hsl: 35 100% 98%;
  --rp-dawn-overlay: #f2e9e1;
  --rp-dawn-overlay-rgb: 242 233 222;
  --rp-dawn-overlay-hsl: 33 43% 91%;
  --rp-dawn-muted: #9893a5;
  --rp-dawn-muted-rgb: 152 147 165;
  --rp-dawn-muted-hsl: 257 9% 61%;
  --rp-dawn-subtle: #797593;
  --rp-dawn-subtle-rgb: 121 117 147;
  --rp-dawn-subtle-hsl: 248 12% 52%;
  --rp-dawn-text: #575279;
  --rp-dawn-text-rgb: 87 82 121;
  --rp-dawn-text-hsl: 248 19% 40%;
  --rp-dawn-love: #b4637a;
  --rp-dawn-love-rgb: 180 99 122;
  --rp-dawn-love-hsl: 343 35% 55%;
  --rp-dawn-gold: #ea9d34;
  --rp-dawn-gold-rgb: 234 157 52;
  --rp-dawn-gold-hsl: 35 81% 56%;
  --rp-dawn-rose: #d7827e;
  --rp-dawn-rose-rgb: 215 130 126;
  --rp-dawn-rose-hsl: 3 53% 67%;
  --rp-dawn-pine: #286983;
  --rp-dawn-pine-rgb: 40 105 131;
  --rp-dawn-pine-hsl: 197 53% 34%;
  --rp-dawn-foam: #56949f;
  --rp-dawn-foam-rgb: 86 148 159;
  --rp-dawn-foam-hsl: 189 30% 48%;
  --rp-dawn-iris: #907aa9;
  --rp-dawn-iris-rgb: 144 122 169;
  --rp-dawn-iris-hsl: 268 21% 57%;
  --rp-dawn-highlight-low: #f4ede8;
  --rp-dawn-highlight-low-rgb: 244 237 232;
  --rp-dawn-highlight-low-hsl: 25 35% 93%;
  --rp-dawn-highlight-med: #dfdad9;
  --rp-dawn-highlight-med-rgb: 223 218 217;
  --rp-dawn-highlight-med-hsl: 10 9% 86%;
  --rp-dawn-highlight-high: #cecacd;
  --rp-dawn-highlight-high-rgb: 206 202 205;
  --rp-dawn-highlight-high-hsl: 280 6% 80%;
}