#right {
  height: 100%;
  justify-self: end;
  display: flex;
  align-items: center;
  background: var(--bg);
  border: 2px solid var(--border);
  border-radius: var(--radius);
  box-shadow: var(--shadow-size-bar) var(--shadow-size-bar) 0 var(--shadow);
  margin-right: 4px;
  overflow: hidden;
  white-space: nowrap;

  .template {
    margin: 4px;
    display: flex;
    align-items: center;
  }

  #now-playing,
  #network,
  #weather {
    padding: 6px;
    overflow: hidden;
    white-space: nowrap;
    max-width: 25vw;

    i {
      margin-right: 7px;
    }
  }

  #now-playing {
    & > i {
      color: var(--not-playing);
      &.playing {
        color: var(--now-playing);
        animation: wiggle 10s infinite;
      }
    }

    .move {
      display: inline-block;
      position: relative;
    }
  }

  #network i {
    font-size: 1.2rem;
    color: var(--network);
  }

  #weather i {
    font-size: 1.2rem;
    color: var(--weather);
  }

  #clock {
    padding-right: 6px;
  }
}
