#left {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: var(--bg);
  border: var(--border-size) solid var(--border);
  border-radius: var(--radius);
  box-shadow: var(--shadow-size-bar) var(--shadow-size-bar) 0 var(--shadow);
  width: fit-content;

  .template {
    margin: var(--shadow-size-bar);
    display: flex;
    align-items: center;
  }

  #memory,
  #cpu,
  #battery {
    position: relative;
    display: flex;
    align-items: center;
    padding: 3px;

    &:hover {
      .meter {
        transform: translateY(200%);
        opacity: 0;
      }
      .label {
        transform: translateY(0%);
        opacity: 1;
      }
    }

    > div {
      display: flex;
      align-items: center;
    }

    i {
      font-size: 19px;
      margin-right: 7px;
    }
  }

  .meter {
    display: inline-block;
    height: 1rem;
    width: 3rem;
    border: var(--border-size) solid var(--border);
    border-radius: var(--radius);
    overflow: hidden;
    opacity: 1;
    transform: translateY(0%);
    transition:
      transform 0.3s ease,
      opacity 0.3s ease;

    span {
      display: block;
      height: 100%;
      width: 0;
      border-right: var(--border-size) solid var(--border);
    }
  }

  .label {
    position: absolute;
    display: flex;
    left: 30px;
    flex-direction: column;
    opacity: 0;
    transform: translateY(-100%);
    transition:
      transform 0.3s ease,
      opacity 0.3s ease;
    user-select: none;
    display: flex;
  }

  #menu {
    background: color-mix(in srgb, currentColor 30%, transparent);
    border: var(--border-size) solid var(--border);
    border-radius: var(--radius);
    box-shadow: var(--shadow-size-button) var(--shadow-size-button) 0 var(--shadow);
    transition:
      box-shadow 0.2s,
      transform 0.3s;
    color: var(--icon);
    padding: 3px;
    cursor: pointer;

    > div {
      display: flex;
      align-items: center;
      justify-content: center;
    }

    &:hover {
      box-shadow: none;
      transform: translateY(var(--shadow-size-button)) translateX(var(--shadow-size-button));
    }

    i {
      font-size: 1rem;
    }
  }

  #memory .meter span {
    background: var(--memory);
  }

  #cpu {
    .meter span {
      background: var(--cpu);
    }

    .high-usage {
      & .meter span {
        background: var(--cpu-high-usage);
      }
      & i {
        animation: flash 0.5s infinite;
      }
    }
  }

  #battery {
    .critical {
      i {
        animation: flash 1s infinite;
      }
      .meter span {
        background: var(--battery-low);
      }
    }

    .low {
      .meter span {
        background: var(--battery-low);
      }
    }

    .mid {
      .meter span {
        background: var(--battery-mid);
      }
    }

    .good {
      .meter span {
        background: var(--battery-good);
      }
    }

    .full {
      .meter span {
        background: var(--battery-good);
        border-right: none;
      }
    }

    .charging {
      animation: pulse 2s infinite;
    }
  }

  #dropdown {
    display: none;
    flex-direction: column;
    top: calc(var(--height) + (2 * var(--bar-margin-y)));
    left: var(--bar-margin-x);
    position: absolute;
    background: var(--bg);
    border: var(--border-size) solid var(--border);
    border-radius: var(--radius);
    box-shadow: var(--shadow-size-bar) var(--shadow-size-bar) 0 var(--shadow);
    color: var(--text);
    background-color: var(--bg);
    width: fit-content;

    a {
      color: var(--text);
      text-decoration: none;
      display: flex;
      align-items: center;
      justify-content: center;
      width: fit-content;
      padding: 8px;
      border-bottom: 2px solid var(--border);
    }

    a:last-child {
      border-bottom: none;
    }

    #powerdown {
      color: var(--rp-moon-love);
      &:hover {
        background: color-mix(in srgb, currentColor 30%, transparent);
      }
    }
    #sleep {
      color: var(--rp-moon-rose);
      &:hover {
        background: color-mix(in srgb, currentColor 30%, transparent);
      }
    }
    #logout {
      color: var(--rp-moon-gold);
      &:hover {
        background: color-mix(in srgb, currentColor 30%, transparent);
      }
    }

    i {
      font-size: 19px;
    }
  }
}
